ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li {
    display: inline;
}

li a{
    color: gray;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.BodyContent {
	position: relative;
	top: 190px;
	text-align: center;
}

header {
	position: relative;
	text-align: right;
	top: 0px;
}

footer {
	position: fixed;
	bottom: 10px;
	width: 100%;
}

.LeftBottomNavBarContent {
	width: 50%;
	text-align: left;
}
.RightBottomNavBarContent {
	position: absolute;
	width: 50%;
	bottom: 0px;
	right: 0px;
	text-align: right;
}

.Country{
	font: 16px arial;
	color: #3b70ff;
	position: absolute;
	text-align: left;
	top: 75px;
	left: 1030px;
}

.TextBox{
	width: 29%;
	padding: 12px 20px;
	border: 1px solid #D3DBE3;
}

.Button{
	padding: 8px 20px;
	border: 1px solid transparent;
	font: 14px arial;
	color: #606B7A;
	font-weight: bold
}

.Button:hover{
	color: black;
	border: 1px solid gray;
}

.TextBox:hover{
	border: 1px solid gray;
}

.TextBox:active{
	border: 1px solid cyan;
}